* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ededed;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

input,
textarea,
select {
  font-size: 16px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  border: 1px solid #777;
  display: block;
  max-width: 300px;
}

textarea {
  min-height: 5rem;
  min-width: 300px;
  resize: vertical;
}

button {
  font-size: 16px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  border: 1px solid #777;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.card {
  padding: 1rem;
  box-shadow: 5px 5px 10px rgb(180, 190, 194);
  border: 1px solid rgb(191, 180, 180);
  border-radius: 5px;
  background-color: snow;
}

/*  helpers */
.flex {
  display: flex;
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.max-w-300 {
  max-width: 300px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #fff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #fff;
}

.main-nav > ul {
  visibility: hidden;
  display: none;
  gap: 0.5rem;
}

.unlisted {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.burger {
  font-size: 1.5rem;
  color: #999999;
}

.hero-grid {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  margin-right: 3.5rem;
}

.graphic-svg {
  width: 190px;
  height: auto;
}

.launching-soon {
  padding-bottom: 1.5rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.1rem;
  margin: 0;
  letter-spacing: 2px;
  color: #FF3998;
}

.caption {
  font-size: 48px;
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 58px;
  margin: 0;
  padding-bottom: 24px;
}

.paragraph {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #555555;
  padding-bottom: 32px;
  margin: 0;
}

.btn {
  padding: 22px 56px;
  border-radius: 100rem;
  font-family: "Helvetica";
  line-height: 30px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 4px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #da39b1, #e9882c, #f1f092);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  margin-bottom: 5.5rem;
}

.btn1 {
  margin-bottom: 4rem;
}

.gradient-background {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  background: rgb(230, 110, 156);
  background: linear-gradient(90deg, rgb(230, 110, 156) 9%, rgb(242, 124, 69) 61%, rgb(254, 214, 104) 91%, rgb(224, 228, 163) 100%);
}
.gradient-background h3 {
  padding-top: 7rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  padding-bottom: 1rem;
}
.gradient-background p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  padding-bottom: 2rem;
  margin: 0;
}

.icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 3.5rem;
  padding-top: 4rem;
}
.icon-container img {
  padding: 1.75rem;
}

.hidden-icon {
  display: none;
}

.nft-container__text-elements {
  padding: 2rem;
  padding-bottom: 0;
}
.nft-container__text-elements h3 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 48px;
  padding-bottom: 1rem;
  margin: 0;
}
.nft-container__text-elements p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 30px;
  margin: 0;
  color: #555555;
}
.nft-container__text-elements .nft-container__link {
  text-decoration: underline;
  font-weight: 500;
}

.nft-container-cards {
  display: flex;
  overflow-x: hidden;
}

.nft-card {
  background-color: #EEEEEE;
  width: 290px;
  border-radius: 7%;
  margin-left: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 5.75rem;
}

.nft-card__ {
  min-width: 290px;
}

.nft-card-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  gap: 1.5rem;
}

.card-item1 p {
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 0.7;
  padding-bottom: 0.7rem;
  margin: 0;
  color: #FF8139;
}

.card-item2 {
  display: flex;
  padding: 0;
  margin: 0;
}
.card-item2 h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: right;
  margin: 0;
  padding-bottom: 1rem;
}

.card-item3 p {
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
  color: #777777;
  line-height: 1;
}

.card-item4 p {
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 0.7;
  padding-bottom: 0.7rem;
  margin: 0;
  color: #777777;
  text-align: right;
}

.card-item5 {
  display: flex;
  padding: 0;
  margin: 0;
}
.card-item5 h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: right;
  margin: 0;
  padding-bottom: 1rem;
}
.card-item5 img {
  max-height: 1.2rem;
}

.card-item6 p {
  font-weight: 400;
  text-align: right;
  font-size: 1rem;
  color: #777777;
  line-height: 1;
}

.break-line {
  height: 2px;
}

.launching-soon2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  margin-right: 3.5rem;
}
.launching-soon2 .launching-soon2__h2-element {
  width: 300px;
}
.launching-soon2 .launching-soon2__p-element {
  width: 207px;
}
.launching-soon2 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  padding-bottom: 32px;
  margin: 0;
}/*# sourceMappingURL=main.css.map */